.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    margin: 0;
    align-items: center;
    padding: 10px 40px;
    background-color: rgba(0, 0, 0, 0.336);
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-links li {
    display: inline-block;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}